<html>
<head>
  <meta charset="utf-8">
  <title>Mocha Tests</title>
  <link rel="stylesheet" href="../node_modules/mocha/mocha.css" />
</head>
<body>
  <div id="mocha"></div>
  <script src="../node_modules/jquery/dist/jquery.js"></script>
  <script src="../node_modules/mocha/mocha.js"></script>
  <script src="../node_modules/chai/chai.js"></script>
  <script src="../test/_.js"></script>
  <script src="../node_modules/underscore/underscore.js"></script>
  <script src="../build/operation.js"></script>
  <script>mocha.setup('bdd')</script>
  <!-- specs --><% specs.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script>
  <% }); %>
  <script>
    mocha.globals(['jQuery']);
    mocha.run();
  </script>
</body>
</html>
